<a href="https://colab.research.google.com/github/PerawitDeawpanich/CN334-Template-Perawit/blob/master/SF251_In_Class_Exercise_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In-Class Exercise 6

Once done, upload to MS Teams

## Pokemon Dataset Part 6

Data from https://www.kaggle.com/datasets/cristobalmitchell/pokedex

In [1]:
!wget https://raw.githubusercontent.com/yongsa-nut/SF251_67_2/refs/heads/main/data/pokemon.csv

--2026-02-24 22:41:50--  https://raw.githubusercontent.com/yongsa-nut/SF251_67_2/refs/heads/main/data/pokemon.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 331632 (324K) [text/plain]
Saving to: ‘pokemon.csv’

pokemon.csv         100%[===================>] 323.86K  --.-KB/s    in 0.03s

2026-02-24 22:41:51 (9.46 MB/s) - ‘pokemon.csv’ saved [331632/331632]

In [2]:
import pandas as pd
from plotnine import *

In [3]:
#Load the data
pokemon = pd.read_csv("pokemon.csv")
pokemon.head()

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
0,1,I,Bulbasaur,Fushigidane,grass,poison,Seed Pokémon,88.14,11.86,0.7,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,There is a plant seed on its back right from t...
1,2,I,Ivysaur,Fushigisou,grass,poison,Seed Pokémon,88.14,11.86,1.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,"When the bulb on its back grows large, it appe..."
2,3,I,Venusaur,Fushigibana,grass,poison,Seed Pokémon,88.14,11.86,2.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,Gigantamax Venusaur,Mega Venusaur,NaN,Its plant blooms when it is absorbing solar en...
3,4,I,Charmander,Hitokage,fire,NaN,Lizard Pokémon,88.14,11.86,0.6,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,It has a preference for hot things. When it ra...
4,5,I,Charmeleon,Lizardo,fire,NaN,Flame Pokémon,88.14,11.86,1.1,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,"It has a barbaric nature. In battle, it whips ..."

**Q1**: Map: Update `gen` column from roman numbers to numerical numbers.

In [4]:
roman_to_num = {
    'I': 1, 'II': 2, 'III': 3, 'IV': 4,
    'V': 5, 'VI': 6, 'VII': 7, 'VIII': 8
}

pokemon['gen'] = pokemon['gen'].map(roman_to_num)

pokemon.head()

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
0,1,1,Bulbasaur,Fushigidane,grass,poison,Seed Pokémon,88.14,11.86,0.7,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,There is a plant seed on its back right from t...
1,2,1,Ivysaur,Fushigisou,grass,poison,Seed Pokémon,88.14,11.86,1.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,"When the bulb on its back grows large, it appe..."
2,3,1,Venusaur,Fushigibana,grass,poison,Seed Pokémon,88.14,11.86,2.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,Gigantamax Venusaur,Mega Venusaur,NaN,Its plant blooms when it is absorbing solar en...
3,4,1,Charmander,Hitokage,fire,NaN,Lizard Pokémon,88.14,11.86,0.6,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,It has a preference for hot things. When it ra...
4,5,1,Charmeleon,Lizardo,fire,NaN,Flame Pokémon,88.14,11.86,1.1,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,"It has a barbaric nature. In battle, it whips ..."

**Q2**: Create a new dataset contains maximum values for all six stats of each gen
- Don't forget to `reset_index`
- try to do it using `apply`

In [5]:
stats_cols = ['hp', 'attack', 'defense',
              'sp_attack', 'sp_defense', 'speed']

max_stats_by_gen = (
    pokemon
    .groupby('gen')
    .apply(lambda x: x[stats_cols].max())
    .reset_index()
)

max_stats_by_gen

/tmp/ipython-input-1279489441.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.

   gen   hp  attack  defense  sp_attack  sp_defense  speed
0    1  250     134      180        154         125    150
1    2  255     134      230        130         230    130
2    3  170     160      200        150         200    160
3    4  150     165      168        150         150    125
4    5  165     150      145        150         135    145
5    6  126     131      184        150         154    126
6    7  223     181      211        173         142    151
7    8  200     145      145        145         130    200

**Q3**: Sort the pokemon by their `hp` from highest to lowest).

In [6]:
pokemon_sorted = pokemon.sort_values(by='hp', ascending=False)

pokemon_sorted.head()

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
241,242,2,Blissey,Happinas,normal,NaN,Happiness Pokémon,0,100,1.5,...,Level up during day while holding Oval Stone,Chansey,Level Up with Happiness Value at 220,Blissey,NaN,NaN,NaN,NaN,NaN,"Whenever a Blissey finds a weakened Pokémon, i..."
112,113,1,Chansey,Lucky,normal,NaN,Egg Pokémon,0,100,1.1,...,Level up during day while holding Oval Stone,Chansey,Level Up with Happiness Value at 220,Blissey,NaN,NaN,NaN,NaN,NaN,The egg Chansey carries is not only delicious ...
798,799,7,Guzzlord,Akuziking,dark,dragon,Junkivore Pokémon,NaN,NaN,5.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Although it’s alien to this world and a danger...
894,895,8,Regidrago,Regidrago,dragon,NaN,Dragon Orb Pokémon,NaN,NaN,2.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,An academic theory proposes that Regidrago’s a...
201,202,2,Wobbuffet,Sonans,psychic,NaN,Patient Pokémon,50.2,49.8,1.3,...,Level,Wobbuffet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"It hates light and shock. If attacked, it infl..."

**Webcrawling**

In this question, we will scrap pokemon from serebii.net by ourselves.

The code snippet below provides a starting point.

You may want to start by checking the actual website: https://www.serebii.net/pokemon/nationalpokedex.shtml

In [7]:
url = 'https://www.serebii.net/pokemon/nationalpokedex.shtml'

df_pokemon = pd.read_html(url, encoding='latin1', header=1)[0] # Get the first table

df_pokemon.head()

/usr/local/lib/python3.12/dist-packages/bs4/__init__.py:341: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.

,No.,Pic,Name,Type,Abilities,HP,Att,Def,S.Att,S.Def,Spd
0,#0001,NaN,Bulbasaur,NaN,Overgrow Chlorophyll,45.0,49.0,49.0,65.0,65.0,45.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,#0002,NaN,Ivysaur,NaN,Overgrow Chlorophyll,60.0,62.0,63.0,80.0,80.0,60.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,#0003,NaN,Venusaur,NaN,Overgrow Chlorophyll,80.0,82.0,83.0,100.0,100.0,80.0

A few things to note:
- Pandas read_html could not read images (pic and type are NaN)
- There are extra empty rows between each pokemon
- Abilities column include two abilities.

For this exercise, we will ignore the first one and focus on the last two.

**Q4**: Remove all extra empty rows between each pokemon (There are many ways)

In [8]:
df_pokemon = df_pokemon[df_pokemon['No.'].notna()].reset_index(drop=True)

df_pokemon.head()

,No.,Pic,Name,Type,Abilities,HP,Att,Def,S.Att,S.Def,Spd
0,#0001,NaN,Bulbasaur,NaN,Overgrow Chlorophyll,45.0,49.0,49.0,65.0,65.0,45.0
1,#0002,NaN,Ivysaur,NaN,Overgrow Chlorophyll,60.0,62.0,63.0,80.0,80.0,60.0
2,#0003,NaN,Venusaur,NaN,Overgrow Chlorophyll,80.0,82.0,83.0,100.0,100.0,80.0
3,#0004,NaN,Charmander,NaN,Blaze Solar Power,39.0,52.0,43.0,60.0,50.0,65.0
4,#0005,NaN,Charmeleon,NaN,Blaze Solar Power,58.0,64.0,58.0,80.0,65.0,80.0

**Q5** Create two new columns: `Ability_1` and `Ability_2`

In [10]:
df_pokemon[['Ability_1', 'Ability_2']] = (df_pokemon['Abilities'].str.split(' ', n=1, expand=True))

df_pokemon.head()

,No.,Pic,Name,Type,Abilities,HP,Att,Def,S.Att,S.Def,Spd,Ability_1,Ability_2
0,#0001,NaN,Bulbasaur,NaN,Overgrow Chlorophyll,45.0,49.0,49.0,65.0,65.0,45.0,Overgrow,Chlorophyll
1,#0002,NaN,Ivysaur,NaN,Overgrow Chlorophyll,60.0,62.0,63.0,80.0,80.0,60.0,Overgrow,Chlorophyll
2,#0003,NaN,Venusaur,NaN,Overgrow Chlorophyll,80.0,82.0,83.0,100.0,100.0,80.0,Overgrow,Chlorophyll
3,#0004,NaN,Charmander,NaN,Blaze Solar Power,39.0,52.0,43.0,60.0,50.0,65.0,Blaze,Solar Power
4,#0005,NaN,Charmeleon,NaN,Blaze Solar Power,58.0,64.0,58.0,80.0,65.0,80.0,Blaze,Solar Power