<a href="https://colab.research.google.com/github/PerawitDeawpanich/CN334-Template-Perawit/blob/master/SF_251_HW1_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HW1: Pandas Basic
## Due date: 22/01/2026 - 23:59

Datasets (check the github) in this homework:
- babyname_CA.TXT
- winemag-data-130k-v2

25 questions in total. 0.2 points each. 5 points in total.

การบ้านแบ่งเป็นสองส่วน ส่วนแรกจะเป็น Review เรื่องที่เรียน (ภาษาอังกฤษ) ส่วนที่สองจะเป็นการบ้านที่คุณจะต้องทำ

เรื่องที่จะเรียนรู้ในการบ้านนี้มีดังต่อไปนี้
- Creating `DataFrame`
- Slicing, indexing `DataFrame`
- Filtering Data (using Boolean Array)
- Groupby

การบ้านอาจจะดูยาว แต่มันประกอบไปด้วย tutorial ที่จะช่วยไกด์อยู่ จะมีแปลไทยไว้บ้างบางข้อทีอาจจะเข้าใจยาก

Let's start by import pandas

In [1]:
import pandas as pd

### **REVIEW:** Creating `DataFrames` & Basic Manipulations

[DataFrame](https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html#dataframe) is a table in which each column has a specific data type; there is an index over the columns (typically string labels) and an index over the rows (typically integers).

Usually, you'll create `DataFrames` by using a function like `pd.read_csv`.

However, in this section, we'll discuss how to create them from scratch.

**As part of the homework, please run every code below.**

The [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) for the `pandas` `DataFrame` class provides several constructors for the `DataFrame` class.

**Syntax 1:** You can create a `DataFrame` by specifying the columns and values using a dictionary, as shown below. (See others in the slide)

keys = column names and values = lists containing the row entries.

In [2]:
fruit_info = pd.DataFrame(
    data = {'fruit': ['apple', 'orange', 'banana', 'raspberry'],
          'color': ['red', 'orange', 'yellow', 'pink'],
          'price': [1.0, 0.75, 0.35, 0.05]
          })
fruit_info

       fruit   color  price
0      apple     red   1.00
1     orange  orange   0.75
2     banana  yellow   0.35
3  raspberry    pink   0.05

You can obtain the dimensions of a `DataFrame` by using the shape attribute `DataFrame.shape`.

In [3]:
fruit_info.shape

(4, 3)

### **REVIEW:** Selecting Rows and Columns in `pandas`

**Approach 1:** `loc`

`loc` takes two arguments.

- The first is one or more **row labels**.
- The second is one or more **column labels**.

These are not the same as positional indices, which are used for indexing Python lists!

The desired rows or columns can be provided individually, in slice notation, or as a list. Some examples are given below.

Note that **slicing in `loc` is inclusive** on the provided labels.

In [4]:
# Get rows 0 through 2 (inclusive) with labels 'fruit' through 'price' (which would include the color column that is in between both labels)
fruit_info.loc[0:2, 'fruit':'price']

    fruit   color  price
0   apple     red   1.00
1  orange  orange   0.75
2  banana  yellow   0.35

In [5]:
# Get rows 0 through 2 (inclusive) and columns 'fruit' and 'price'.
# Note the difference in notation and result from the previous example.
fruit_info.loc[0:2, ['fruit', 'price']]

    fruit  price
0   apple   1.00
1  orange   0.75
2  banana   0.35

In [6]:
# Get rows 0 and 2 and columns fruit and price.
fruit_info.loc[[0, 2], ['fruit', 'price']]

    fruit  price
0   apple   1.00
2  banana   0.35

In [7]:
# Get rows 0 and 2 and column fruit
fruit_info.loc[[0, 2], ['fruit']]

    fruit
0   apple
2  banana

Note that if we request a single column but don't enclose it in a list, the return type of the `loc` operator is a `Series` rather than a `DataFrame`.

In [8]:
# Get rows 0 and 2 and column fruit, returning the result as a Series
fruit_info.loc[[0, 2], 'fruit']

0     apple
2    banana
Name: fruit, dtype: object

If we provide only one argument to `loc`, it uses the provided argument to select rows, and returns all columns.

In [9]:
fruit_info.loc[0:1]

    fruit   color  price
0   apple     red   1.00
1  orange  orange   0.75

Note that if you try to access columns without providing rows, `loc` will crash.

In [11]:
# Uncomment, this code will crash
#fruit_info.loc[["fruit", "price"]]

# Uncomment, this code works fine:
fruit_info.loc[:, ["fruit", "price"]]

       fruit  price
0      apple   1.00
1     orange   0.75
2     banana   0.35
3  raspberry   0.05

<br/>

**Approach 2:** `iloc`

`iloc` is very similar to `loc` except that its arguments are **row numbers** and **column numbers**, rather than row and column labels. A useful mnemonic is that the `i` stands for "integer".

In addition, **slicing for `iloc` is exclusive** on the provided integer indices. Some examples are given below:

In [12]:
# Get rows 0 through 3 (exclusive) and columns 0 through 3 (exclusive)
fruit_info.iloc[0:3, 0:3]

    fruit   color  price
0   apple     red   1.00
1  orange  orange   0.75
2  banana  yellow   0.35

In [13]:
# Get rows 0 through 3 (exclusive) and columns 0 and 2.
fruit_info.iloc[0:3, [0, 2]]

    fruit  price
0   apple   1.00
1  orange   0.75
2  banana   0.35

In [14]:
# Get rows 0 and 2 and columns 0 and 2.
fruit_info.iloc[[0, 2], [0, 2]]

    fruit  price
0   apple   1.00
2  banana   0.35

In [15]:
# Get rows 0 and 2 and column fruit
fruit_info.iloc[[0, 2], [0]]

    fruit
0   apple
2  banana

In [16]:
# Get rows 0 and 2 and column fruit
fruit_info.iloc[[0, 2], 0]

0     apple
2    banana
Name: fruit, dtype: object

Note that in these `loc` and `iloc` examples above, the row **label** and row **number** were always the same.

Let's see an example where they are different. If we sort our fruits by price, we get:

In [17]:
fruit_info_sorted = fruit_info.sort_values("price")
fruit_info_sorted

       fruit   color  price
3  raspberry    pink   0.05
2     banana  yellow   0.35
1     orange  orange   0.75
0      apple     red   1.00

After sorting, note how row number 0 now has index label 3, row number 1 now has index label 2, etc. These indices are the arbitrary numerical indices generated when we created the `DataFrame`. For example, `banana` was originally in row 2, and so it has row label 2. Note the distinction between the index _label_, and the actual index _position_.

If we request the rows in positions 0 and 2 using `iloc`, we're indexing using the row NUMBERS, not labels.

In [18]:
fruit_info_sorted.iloc[[0, 2], 0]

3    raspberry
1       orange
Name: fruit, dtype: object

Lastly, similar to `loc`, the second argument to `iloc` is optional. That is, if you provide only one argument to `iloc`, it treats the argument you provide as a set of desired row numbers, not column numbers.

In [19]:
fruit_info_sorted.iloc[[0, 2]]

       fruit   color  price
3  raspberry    pink   0.05
1     orange  orange   0.75

**Approach 3:** `[]` Notation for Accessing Rows and Columns

`pandas` also supports the `[]` operator. It's similar to `loc` in that it lets you access rows and columns by their name.

However, unlike `loc`, which takes row names and also optionally column names, `[]` is more flexible.

- If you provide it only row names (numbers), it'll give you rows (same behavior as `loc`).

- If you provide it with only column names, it'll give you columns (whereas `loc` will crash).

Some examples:

In [20]:
fruit_info[0:2]

    fruit   color  price
0   apple     red   1.00
1  orange  orange   0.75

In [21]:
# Here we're providing a list of fruits as single argument to []
fruit_info[["fruit", "color", "price"]]

       fruit   color  price
0      apple     red   1.00
1     orange  orange   0.75
2     banana  yellow   0.35
3  raspberry    pink   0.05

Note that slicing notation is not supported for columns if you use `[]` notation. Use `loc` instead.

In [23]:
# Uncomment and this code crashes
#fruit_info["fruit":"price"]

# Uncomment and this works fine
fruit_info.loc[:, "fruit":"price"]

       fruit   color  price
0      apple     red   1.00
1     orange  orange   0.75
2     banana  yellow   0.35
3  raspberry    pink   0.05

**Approach 4**: `.` Notation for Accessing a column

- **Syntax**: `df.column_name` to access the column name

In [24]:
fruit_info.fruit

0        apple
1       orange
2       banana
3    raspberry
Name: fruit, dtype: object


---

### Question 1a

For a `DataFrame` `d`, you can add a column with `d['new column name'] = ...` and assign a `list` or `array` of values to the column.

Add a column of integers containing 1, 2, 3, and 4 called `rank1` to the `fruit_info` table, which expresses **your personal preference** about the taste ordering for each fruit (1 is tastiest; 4 is least tasty). There is no right order, it is completely your choice of rankings.

---

สำหรับ `DataFrame` `d` คุณสามารถเพิ่มคอลัมน์ได้ด้วยคำสั่ง `d['ชื่อคอลัมน์ใหม่'] = ...` และกำหนดค่าให้คอลัมน์นั้นด้วย `list` หรือ `array` ของค่าต่างๆ

จงเพิ่มคอลัมน์ของตัวเลขจำนวนเต็ม 1, 2, 3 และ 4 ชื่อว่า `rank1` ลงในตาราง `fruit_info` โดยตัวเลขเหล่านี้แสดงถึง**ความชอบส่วนตัวของคุณ**ในการจัดอันดับรสชาติของผลไม้แต่ละชนิด (1 คือรสชาติอร่อยที่สุด, 4 คือรสชาติที่อร่อยน้อยที่สุด)
ไม่มีลำดับที่ถูกหรือผิด ขึ้นอยู่กับการจัดอันดับตามความชอบของคุณ

In [25]:
...                  # Fill in your code here
fruit_info['rank1'] = [2, 3, 1, 4]
fruit_info

       fruit   color  price  rank1
0      apple     red   1.00      2
1     orange  orange   0.75      3
2     banana  yellow   0.35      1
3  raspberry    pink   0.05      4

<br/>

---

### Question 1b

You can also add a column to `d` with `d.loc[:, 'new column name'] = ...`. As above, the first parameter is for the rows, and the second is for columns. The `:` means changing all rows, and the `'new column name'` indicates the name of the column you are modifying (or, in this case, adding).

Add a column called `rank2` to the `fruit_info` table, which contains the same values in the same order as the `rank1` column.

---
คุณสามารถเพิ่มคอลัมน์ให้กับ `d` ได้ด้วยคำสั่ง `d.loc[:, 'new column name'] = ...` เหมือนข้อที่แล้ว parameter แรกใช้สำหรับแถว และ parameter ที่สองใช้สำหรับคอลัมน์ เครื่องหมาย `:` หมายถึงการเปลี่ยนแปลงทุกแถว และ `'new column name'` ระบุชื่อของคอลัมน์ที่คุณกำลังแก้ไข (หรือในกรณีนี้คือการเพิ่มคอลัมน์)

จงเพิ่มคอลัมน์ชื่อ `rank2` ลงในตาราง `fruit_info` โดยให้มีค่าเหมือนกันและเรียงลำดับเหมือนกับคอลัมน์ `rank1`

In [26]:
...
fruit_info.loc[:, 'rank2'] = [2, 3, 1, 4]
fruit_info

       fruit   color  price  rank1  rank2
0      apple     red   1.00      2      2
1     orange  orange   0.75      3      3
2     banana  yellow   0.35      1      1
3  raspberry    pink   0.05      4      4

<br/>

---

### Question 1c

Use the `.drop()` method to [drop](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) both the `rank1` and `rank2` columns you created. Make sure to use the `axis` parameter correctly.

Note that `drop` does not change a table but instead **returns a new table** with fewer columns or rows unless you set the optional `inplace` argument.

---
ใช้ `.drop()` เพื่อ[ลบ](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)คอลัมน์ `rank1` และ `rank2` ที่คุณได้สร้างไว้ เช็คให้ถูกต้องว่าใช้พารามิเตอร์ `axis` ถูก

เมธอด `drop` ไม่ได้เปลี่ยนแปลงตารางเดิม แต่จะ**ส่งคืนตารางใหม่**ที่มีจำนวนคอลัมน์หรือแถวน้อยลง เว้นแต่คุณจะกำหนด `inplace` argument เพิ่มเติม


**Hint:** Look through the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) to see how you can drop multiple columns of a `DataFrame` at once using a list of column names.

In [29]:
fruit_info_original = fruit_info.drop(['rank1', 'rank2'], axis=1)
fruit_info_original

       fruit   color  price
0      apple     red   1.00
1     orange  orange   0.75
2     banana  yellow   0.35
3  raspberry    pink   0.05

<br/>

---

### Question 1d

Use the `.rename()` method to rename the columns of `fruit_info_original` so they begin with capital letters. Set this new `DataFrame` to `fruit_info_caps`.

For an example of how to use rename, see this linked [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html).

---
ใช้ `.rename()` เพื่อเปลี่ยนชื่อคอลัมน์ของ `fruit_info_original` ให้ขึ้นต้นด้วยตัวพิมพ์ใหญ่ และกำหนดให้ `DataFrame` ใหม่นี้เป็น `fruit_info_caps`

In [30]:
...
fruit_info_caps = fruit_info_original.rename(columns={
    'fruit': 'Fruit',
    'color': 'Color',
    'price': 'Price'
})

fruit_info_caps

       Fruit   Color  Price
0      apple     red   1.00
1     orange  orange   0.75
2     banana  yellow   0.35
3  raspberry    pink   0.05

<br/>

### Creating your own DataFrame

### Question 2a

In the cell below, create a DataFrame `fruits` that looks like this:

![](https://storage.googleapis.com/kaggle-media/learn/images/Ax3pp2A.png)

In [31]:
fruits = pd.DataFrame({
    'Apples': [30],
    'Bananas': [21]
})
fruits

   Apples  Bananas
0      30       21

### Question 2b

Create a dataframe `fruit_sales` that matches the diagram below:

![](https://storage.googleapis.com/kaggle-media/learn/images/CHPn7ZF.png)

In [32]:
fruit_sales = pd.DataFrame(
    {
        'Apples': [35, 41],
        'Bananas': [21, 34]
    },
    index=['2017 Sales', '2018 Sales']
)
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

### Question 2c

Create a variable `ingredients` with a Series that looks like:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [33]:
ingredients = pd.Series(
    ['4 cups', '1 cup', '2 large', '1 can'],
    index=['Flour', 'Milk', 'Eggs', 'Spam'],
    name='Dinner'
)
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

<br/>

### Babynames Dataset
For the next few questions, we'll be using the babynames dataset. The babynames dataset contains a record of the given names of babies born in the United States each year.

Run the following cells to build the `DataFrame` `babynames`.

In [34]:
!wget https://raw.githubusercontent.com/yongsa-nut/SF251_67_2/refs/heads/main/data/babyname_CA.TXT

--2026-02-24 09:43:06--  https://raw.githubusercontent.com/yongsa-nut/SF251_67_2/refs/heads/main/data/babyname_CA.TXT
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8568794 (8.2M) [text/plain]
Saving to: ‘babyname_CA.TXT’

babyname_CA.TXT     100%[===================>]   8.17M  --.-KB/s    in 0.06s

2026-02-24 09:43:07 (129 MB/s) - ‘babyname_CA.TXT’ saved [8568794/8568794]

In [35]:
file_path = 'babyname_CA.TXT'
column_labels = ['State', 'Sex', 'Year', 'Name', 'Count']

babynames = pd.read_csv(file_path, names=column_labels)

Let's explore the dataset first.

In [36]:
babynames.head()

  State Sex  Year      Name  Count
0    CA   F  1910      Mary    295
1    CA   F  1910     Helen    239
2    CA   F  1910   Dorothy    220
3    CA   F  1910  Margaret    163
4    CA   F  1910   Frances    134

In [37]:
babynames.shape   # Should be (413894, 5)

(413894, 5)

#### Selection Examples on Baby Names

As with our synthetic fruit dataset, we can use `loc` and `iloc` to select rows and columns of interest from our dataset.

In [38]:
babynames.loc[2:5, 'Name']

2     Dorothy
3    Margaret
4     Frances
5        Ruth
Name: Name, dtype: object

Notice the difference between the following cell and the previous one; just passing in `'Name'` returns a `Series` while `['Name']` returns a `DataFrame`.

In [39]:
babynames.loc[2:5, ['Name']]

       Name
2   Dorothy
3  Margaret
4   Frances
5      Ruth

The code below collects the rows in positions 1 through 3, and the column in position 3 ("Name").

In [40]:
babynames.iloc[1:4, [3]]

       Name
1     Helen
2   Dorothy
3  Margaret

<br/>

---

### Question 3a

Use `.loc` to select `Name` and `Year` **in that order** from the `babynames` table.

In [42]:
name_and_year = babynames.loc[:,['Name','Year']]
name_and_year[:5]

       Name  Year
0      Mary  1910
1     Helen  1910
2   Dorothy  1910
3  Margaret  1910
4   Frances  1910

<br/>

---

### Question 3b
Repeat the same selection using the plain `[]` notation.

In [43]:
name_and_year = babynames[['Name', 'Year']]
name_and_year[:5]

       Name  Year
0      Mary  1910
1     Helen  1910
2   Dorothy  1910
3  Margaret  1910
4   Frances  1910

### **REVIEW**: Filtering with boolean arrays

Filtering is the process of removing unwanted entries.

In your quest for cleaner data, you will undoubtedly filter your data at some point: whether it be for clearing up cases with missing values, for culling out fishy outliers, or for analyzing subgroups of your dataset.

Example usage looks like `df[df['column name'] < 5]`.

---

การกรอง (Filtering) คือกระบวนการกำจัดข้อมูลที่ไม่ต้องการออกไป

ในการจัดการข้อมูลให้สะอาด จะต้องมีการกรองข้อมูลของคุณ: ไม่ว่าจะเป็นการลบข้อมูลที่มีค่าว่าง การคัดกรองค่าผิดปกติที่น่าสงสัย หรือการวิเคราะห์ข้อมูลบางกลุ่มของชุดข้อมูลของคุณ

ตัวอย่างการใช้งานจะมีลักษณะดังนี้ `df[df['column name'] < 5]`

For your reference, some commonly used comparison operators are given below.

Symbol | Usage      | Meaning
------ | ---------- | -------------------------------------
==   | a == b   | Does a equal b?
<=   | a <= b   | Is a less than or equal to b?
&gt;=   | a >= b   | Is a greater than or equal to b?
<    | a < b    | Is a less than b?
&#62;    | a &#62; b    | Is a greater than b?
~    | ~p       | Returns negation of p
&#124; | p &#124; q | p OR q
&    | p & q    | p AND q
^  | p ^ q | p XOR q (exclusive or)

As an example, in the following, we construct a `DataFrame` containing only rows where the name is Arman.

In [ ]:
arman_babynames = babynames[babynames['Name'] == 'Arman']
arman_babynames.head(5)

<br>

---
### Question 3c
Using a boolean array, select the names in `babynames` in Year (`Year`) 2000 that have larger than 3000 counts (`Count`).

Note that compound expressions have to be grouped with parentheses. That is, any time you use `p & q` to filter the `DataFrame`, make sure to use `df[(df[p]) & (df[q])]` or `df.loc[(df[p]) & (df[q])]`.

You may use either `[]` or `loc`.

In [44]:
result = babynames[(babynames['Year'] > 2000) & (babynames['Count'] > 3000)][['Name']]
result.head()

         Name
156620  Emily
160481  Emily
164390  Emily
168417  Emily
172516  Emily

### **REVIEW:** `str`

`pandas` provides special purpose functions for working with specific common data types such as strings and dates. For example, the code below provides the length of every baby's name from our `babynames` dataset.

In [45]:
babynames['Name'].str.len()

0         4
1         5
2         7
3         8
4         7
         ..
413889    4
413890    6
413891    6
413892    4
413893    4
Name: Name, Length: 413894, dtype: int64

<br/>

---

### Question 4a

Add a column to `babynames` named `First Letter` that contains the first letter of each baby's name.

Hint: you can index using `.str` similar to how you'd normally index Python strings. Or, you can use `.str.get` [(documentation here)](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.get.html).

In [46]:
...
babynames['First Letter'] = babynames['Name'].str[0]
babynames.head()

  State Sex  Year      Name  Count First Letter
0    CA   F  1910      Mary    295            M
1    CA   F  1910     Helen    239            H
2    CA   F  1910   Dorothy    220            D
3    CA   F  1910  Margaret    163            M
4    CA   F  1910   Frances    134            F

<br/>

---

### Question 4b

In 2022, how many babies had names that started with the letter "A"?

In [48]:
babynames_2022 = babynames[babynames['Year'] == 2022]
just_A_names_2022 = babynames_2022[babynames_2022['First Letter'] == 'A']
number_A_names = len(just_A_names_2022)  # you can use len() or .shape[0] to check #row
number_A_names

1041

### Wine Reviews dataset

In the next few questions, we will use `Wine Reviews dataset` to practice more indexing, selecting, and assigning.

For this set of questions, you are free to use any methods that we learn.

In [49]:
!wget 'https://github.com/yongsa-nut/SF251_67_2/raw/refs/heads/main/data/winemag-data-130k-v2.zip'
!unzip 'winemag-data-130k-v2.zip'

--2026-02-24 10:11:31--  https://github.com/yongsa-nut/SF251_67_2/raw/refs/heads/main/data/winemag-data-130k-v2.zip
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/yongsa-nut/SF251_67_2/refs/heads/main/data/winemag-data-130k-v2.zip [following]
--2026-02-24 10:11:31--  https://raw.githubusercontent.com/yongsa-nut/SF251_67_2/refs/heads/main/data/winemag-data-130k-v2.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16949226 (16M) [application/zip]
Saving to: ‘winemag-data-130k-v2.zip’

winemag-data-130k-v 100%[===================>]  16.16M  --.-KB/s    in 0.07s

2026-02-24 10:11:32 (218 MB/s) - ‘winemag-data-130k-v2.zip’ saved [16949226/16949226]

Archive:  winemag-data-130k-v2.zip
  inflating: winemag-data-130k-v2.csv

In [50]:
reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

### Question 5a

Select the first value from the `description` column of `reviews`, assigning it to variable `first_description`.

The expected answer is
```
Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity.
```

In [52]:
first_description = reviews['description'].iloc[0]
first_description

"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity."

### Question 5b

Select the first row of data (the first record) from `reviews`, assigning it to the variable `first_row`.

In [53]:
first_row = reviews.iloc[0]
first_row

country                                                              Italy
description              Aromas include tropical fruit, broom, brimston...
designation                                                   Vulkà Bianco
points                                                                  87
price                                                                  NaN
province                                                 Sicily & Sardinia
region_1                                                              Etna
region_2                                                               NaN
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                                    Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                        White Blend
winery                                                             Nicosia
Name: 0, dtype: object

### Question 5c

Create a variable `df` containing the `country`, `province`, `region_1`, and `region_2` columns of the records with the index labels `0`, `1`, `10`, and `100`. In other words, generate the following DataFrame:

![](https://storage.googleapis.com/kaggle-media/learn/images/FUCGiKP.png)

In [54]:
df = reviews.loc[[0, 1, 10, 100], ['country', 'province', 'region_1', 'region_2']]
df

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

### Question 5d

Create a variable `df` containing the `country` and `variety` columns of the first 100 records.

In [55]:
df = reviews.loc[:99, ['country', 'variety']]
df

     country                   variety
0      Italy               White Blend
1   Portugal            Portuguese Red
2         US                Pinot Gris
3         US                  Riesling
4         US                Pinot Noir
..       ...                       ...
95    France                     Gamay
96    France                     Gamay
97        US                  Riesling
98     Italy                Sangiovese
99        US  Bordeaux-style Red Blend

[100 rows x 2 columns]

### Question 5e

Create a DataFrame `italian_wines` containing reviews of wines made in `Italy`

In [57]:
italian_wines = reviews[reviews['country'] == 'Italy']
italian_wines

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte
22,Italy,Delicate aromas recall white flower and citrus...,Ficiligno,87,19.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Baglio di Pianetto 2007 Ficiligno White (Sicilia),White Blend,Baglio di Pianetto
24,Italy,"Aromas of prune, blackcurrant, toast and oak c...",Aynat,87,35.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Canicattì 2009 Aynat Nero d'Avola (Sicilia),Nero d'Avola,Canicattì
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129929,Italy,"This luminous sparkler has a sweet, fruit-forw...",NaN,91,38.0,Veneto,Prosecco Superiore di Cartizze,NaN,NaN,NaN,Col Vetoraz Spumanti NV Prosecco Superiore di...,Prosecco,Col Vetoraz Spumanti
129943,Italy,"A blend of Nero d'Avola and Syrah, this convey...",Adènzia,90,29.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Baglio del Cristo di Campobello 2012 Adènzia R...,Red Blend,Baglio del Cristo di Campobello
129947,Italy,"A blend of 65% Cabernet Sauvignon, 30% Merlot ...",Symposio,90,20.0,Sicily & Sardinia,Terre Siciliane,NaN,Kerin O’Keefe,@kerinokeefe,Feudo Principi di Butera 2012 Symposio Red (Te...,Red Blend,Feudo Principi di Butera
129961,Italy,"Intense aromas of wild cherry, baking spice, t...",NaN,90,30.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,COS 2013 Frappato (Sicilia),Frappato,COS
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano

### Question 5f

Create a DataFrame `top_oceania_wines` containing all reviews with at least 95 points (out of 100) for wines from Australia or New Zealand.

In [62]:
top_oceania_wines = reviews[
    (reviews['country'].isin(['Australia', 'New Zealand'])) &
    (reviews['points'] >= 95)
]
top_oceania_wines

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
345,Australia,This wine contains some material over 100 year...,Rare,100,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscat (Ru...,Muscat,Chambers Rosewood Vineyards
346,Australia,"This deep brown wine smells like a damp, mossy...",Rare,98,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscadelle...,Muscadelle,Chambers Rosewood Vineyards
348,Australia,Deep mahogany. Dried fig and black tea on the ...,Grand,97,100.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Grand Muscat (R...,Muscat,Chambers Rosewood Vineyards
349,Australia,"RunRig is always complex, and the 2012 doesn't...",RunRig,97,225.0,South Australia,Barossa,NaN,Joe Czerwinski,@JoeCz,Torbreck 2012 RunRig Shiraz-Viognier (Barossa),Shiraz-Viognier,Torbreck
356,Australia,"Dusty, firm, powerful: just a few apt descript...",Georgia's Paddock,95,85.0,Victoria,Heathcote,NaN,Joe Czerwinski,@JoeCz,Jasper Hill 2013 Georgia's Paddock Shiraz (Hea...,Shiraz,Jasper Hill
360,Australia,Bacon and tapenade elements merge easily on th...,Descendant,95,125.0,South Australia,Barossa Valley,NaN,Joe Czerwinski,@JoeCz,Torbreck 2012 Descendant Shiraz-Viognier (Baro...,Shiraz-Viognier,Torbreck
365,Australia,The Taylor family selected Clare Valley for it...,St. Andrews Single Vineyard Release,95,60.0,South Australia,Clare Valley,NaN,Joe Czerwinski,@JoeCz,Wakefield 2013 St. Andrews Single Vineyard Rel...,Shiraz,Wakefield
14354,Australia,This wine's concentrated dark fruit shows in t...,Old Vine,95,60.0,South Australia,Barossa Valley,NaN,Joe Czerwinski,@JoeCz,Kaesler 2006 Old Vine Shiraz (Barossa Valley),Shiraz,Kaesler
16538,Australia,"Rich, dense and intense, this is a big, muscul...",The Family Tree,95,65.0,South Australia,Barossa Valley,NaN,Joe Czerwinski,@JoeCz,Lambert 2013 The Family Tree Shiraz (Barossa V...,Shiraz,Lambert
28573,Australia,Astralis has become one of Australia's top col...,Astralis,95,350.0,South Australia,Clarendon,NaN,Joe Czerwinski,@JoeCz,Clarendon Hills 2005 Astralis Syrah (Clarendon),Syrah,Clarendon Hills
34502,Australia,This prodigious wine showcases Barossa's abili...,The Relic,98,135.0,South Australia,Barossa Valley,NaN,Joe Czerwinski,@JoeCz,Standish 2006 The Relic Shiraz (Barossa Valley),Shiraz,Standish
34506,Australia,If Standish's Relic is the feminine side of Sh...,The Standish Single Vineyard,96,135.0,South Australia,Barossa Valley,NaN,Joe Czerwinski,@JoeCz,Standish 2005 The Standish Single Vineyard Shi...,Shiraz,Standish
38988,Australia,Penfolds Bin 707 has leapt in quality over the...,Bin 707,95,200.0,South Australia,South Australia,NaN,Joe Czerwinski,@JoeCz,Penfolds 2009 Bin 707 Cabernet Sauvignon (Sout...,Cabernet Sauvignon,Penfolds
39059,Australia,The Taylor family selected Clare Valley for it...,St. Andrews Single Vineyard Release,95,60.0,South Australia,Clare Valley,NaN,Joe Czerwinski,@JoeCz,Wakefield 2013 St. Andrews Single Vineyard Rel...,Shiraz,Wakefield
39961,Australia,"As unevolved as they are, the dense and multil...",Grange,96,185.0,South Australia,South Australia,NaN,NaN,NaN,Penfolds 1996 Grange Shiraz (South Australia),Shiraz,Penfolds
39962,Australia,"Seamless luxury from stem to stern, this ‘baby...",RWT,95,70.0,South Australia,Barossa Valley,NaN,NaN,NaN,Penfolds 1998 RWT Shiraz (Barossa Valley),Shiraz,Penfolds
45809,Australia,The 2007 Astralis impresses for its combinatio...,Astralis,95,225.0,South Australia,Clarendon,NaN,Joe Czerwinski,@JoeCz,Clarendon Hills 2007 Astralis Syrah (Clarendon),Syrah,Clarendon Hills
56953,Australia,"This inky, embryonic wine deserves to be cella...",Grange,99,850.0,South Australia,South Australia,NaN,Joe Czerwinski,@JoeCz,Penfolds 2010 Grange Shiraz (South Australia),Shiraz,Penfolds
56956,Australia,You may have to scour the country to secure so...,Andelmonde,97,95.0,South Australia,Barossa Valley,NaN,Joe Czerwinski,@JoeCz,Standish 2012 Andelmonde Shiraz (Barossa Valley),Shiraz,Standish
56957,Australia,Thorn Clarke has taken its Shiraz to a new lev...,Ron Thorn Single Vineyard,96,89.0,South Australia,Barossa,NaN,Joe Czerwinski,@JoeCz,Thorn Clarke 2012 Ron Thorn Single Vineyard Sh...,Shiraz,Thorn Clarke
56959,Australia,Is this the Yin to Grange's Yang? The wines ar...,Hill of Grace,96,820.0,South Australia,Eden Valley,NaN,Joe Czerwinski,@JoeCz,Henschke 2010 Hill of Grace Shiraz (Eden Valley),Shiraz,Henschke
59977,Australia,This is a top example of the classic Australia...,The Peake,96,150.0,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,Hickinbotham 2013 The Peake Cabernet-Shiraz (M...,Cabernet-Shiraz,Hickinbotham
59984,Australia,"This is a throwback to those brash, flavor-exu...",One,95,95.0,South Australia,Langhorne Creek,NaN,Joe Czerwinski,@JoeCz,Heartland 2013 One Red (Langhorne Creek),Red Blend,Heartland
67096,Australia,Just a tiny serving of this dark nectar will l...,Calliope Rare,98,86.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,R.L. Buller & Son NV Calliope Rare Tokay (Ruth...,Tokay,R.L. Buller & Son
67101,Australia,"This Muscat is the color of dark coffee, with ...",Rare,95,300.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscat (Ru...,Muscat,Chambers Rosewood Vineyards
76392,Australia,When the alcohol levels are reined in to appro...,Georgia's Paddock,95,85.0,Victoria,Heathcote,NaN,Joe Czerwinski,@JoeCz,Jasper Hill 2012 Georgia's Paddock Shiraz (Hea...,Shiraz,Jasper Hill
77028,Australia,This has all the size and weight you've come t...,Grange,98,850.0,South Australia,South Australia,NaN,Joe Czerwinski,@JoeCz,Penfolds 2008 Grange Shiraz (South Australia),Shiraz,Penfolds
77036,Australia,RWT (unromantically derived from “Red Wine Tri...,RWT,96,150.0,South Australia,Barossa Valley,NaN,Joe Czerwinski,@JoeCz,Penfolds 2009 RWT Shiraz (Barossa Valley),Shiraz,Penfolds
77037,Australia,Winemaker Dave Powell is no longer with Torbre...,RunRig,96,225.0,South Australia,Barossa Valley,NaN,Joe Czerwinski,@JoeCz,Torbreck 2007 RunRig Shiraz-Viognier (Barossa ...,Shiraz-Viognier,Torbreck
77042,Australia,This is likely the most ageworthy Shiraz winem...,Eligo,95,100.0,South Australia,Barossa,NaN,Joe Czerwinski,@JoeCz,John Duval Wines 2010 Eligo Shiraz (Barossa),Shiraz,John Duval Wines
77044,Australia,The fruit for this offering comes from the Gre...,R Reserve,95,105.0,South Australia,Barossa Valley,NaN,Joe Czerwinski,@JoeCz,Kilikanoon 2009 R Reserve Shiraz (Barossa Valley),Shiraz,Kilikanoon
77046,Australia,With aromas and flavors that range widely from...,The Factor,95,125.0,South Australia,Barossa Valley,NaN,Joe Czerwinski,@JoeCz,Torbreck 2007 The Factor Shiraz (Barossa Valley),Shiraz,Torbreck
83357,Australia,A throwback to the monster Shiraz style of old...,Grange,96,500.0,South Australia,South Australia,NaN,Joe Czerwinski,@JoeCz,Penfolds 2004 Grange Shiraz (South Australia),Shiraz,Penfolds
84815,Australia,The Factor is always one of Torbreck's biggest...,The Factor,95,125.0,South Australia,Barossa,NaN,Joe Czerwinski,@JoeCz,Torbreck 2012 The Factor Shiraz (Barossa),Shiraz,Torbreck
84816,Australia,"Nashwauk is Kaesler's McLaren Vale project, fi...",Beacon,95,145.0,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,Nashwauk 2010 Beacon Shiraz (McLaren Vale),Shiraz,Nashwauk
87128,Australia,"This full-bodied, muscular Shiraz is built for...",Amery Vineyard Block 6,96,120.0,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,Kay Brothers 2012 Amery Vineyard Block 6 Shira...,Shiraz,Kay Brothers
87137,Australia,Perhaps the best young wine I've tasted from M...,NaN,95,84.0,Western Australia,Margaret River,NaN,Joe Czerwinski,@JoeCz,Moss Wood 2011 Cabernet Sauvignon (Margaret Ri...,Cabernet Sauvignon,Moss Wood
87143,Australia,"This is wonderfully complex and aromatic, with...",St. Andrews Single Vineyard Release,95,60.0,South Australia,Clare Valley,NaN,Joe Czerwinski,@JoeCz,Wakefield 2012 St. Andrews Single Vineyard Rel...,Shiraz,Wakefield
91851,New Zealand,"This full-bodied, richly tannic wine delivers....",Homage,95,100.0,Hawke's Bay,NaN,NaN,Joe Czerwinski,@JoeCz,Trinity Hill 2013 Homage Syrah (Hawke's Bay),Syrah,Trinity Hill
98386,Australia,One of the more approachable of the d'Arenberg...,Little Venice Single Vineyard,95,85.0,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,D'Arenberg 2010 Little Venice Single Vineyard ...,Shiraz,D'Arenberg
99318,Australia,"From vines planted in 1912, this has been an i...",Mount Edelstone Vineyard,95,200.0,South Australia,Eden Valley,NaN,Joe Czerwinski,@JoeCz,Henschke 2014 Mount Edelstone Vineyard Shiraz ...,Shiraz,Henschke
99330,Australia,This Cabernet equivalent to Grange has explode...,Bin 707,95,500.0,South Australia,South Australia,NaN,Joe Czerwinski,@JoeCz,Penfolds 2014 Bin 707 Cabernet Sauvignon (Sout...,Cabernet Sauvignon,Penfolds
99340,Australia,"This rich, opulent wine carries its massive oa...",Les Amis,95,185.0,South Australia,Barossa Valley,NaN,Joe Czerwinski,@JoeCz,Torbreck 2013 Les Amis Grenache (Barossa Valley),Grenache,Torbreck
109427,Australia,This wine is dark brown in hue with a greenish...,Rare,99,300.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscadelle...,Muscadelle,Chambers Rosewood Vineyards
109434,Australia,D'Arenberg's lineup of single-vineyard Shiraze...,The Swinging Malaysian Single Vineyard,96,85.0,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,D'Arenberg 2010 The Swinging Malaysian Single ...,Shiraz,D'Arenberg
122421,Australia,"Despite this wine's weight and richness, it re...",Amon-Ra Unfiltered,96,110.0,South Australia,Barossa Valley,NaN,Joe Czerwinski,@JoeCz,Glaetzer 2010 Amon-Ra Unfiltered Shiraz (Baros...,Shiraz,Glaetzer
122430,Australia,These blends are traditional in Australia—they...,Anaperenna,95,80.0,South Australia,Barossa Valley,NaN,Joe Czerwinski,@JoeCz,Glaetzer 2010 Anaperenna Shiraz-Cabernet Sauvi...,Shiraz-Cabernet Sauvignon,Glaetzer
122507,New Zealand,"This blend of Cabernet Sauvignon (62.5%), Merl...",SQM Gimblett Gravels Cabernets/Merlot,95,79.0,Hawke's Bay,NaN,NaN,Joe Czerwinski,@JoeCz,Squawking Magpie 2014 SQM Gimblett Gravels Cab...,Bordeaux-style Red Blend,Squawking Magpie
122939,Australia,Full-bodied and plush yet vibrant and imbued w...,The Factor,98,125.0,South Australia,Barossa Valley,NaN,Joe Czerwinski,@JoeCz,Torbreck 2013 The Factor Shiraz (Barossa Valley),Shiraz,Torbreck

### Question 6a

What is the median of the `points` column in the `reviews` DataFrame? You may find this [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.median.html) useful.

In [63]:
median_points = reviews['points'].median()
median_points

88.0

### Question 6b

What countries are represented in the dataset? (Your answer should not include any duplicates.)

In [66]:
countries = reviews['country'].unique()
countries

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

### Question 6c

How often does each country appear in the dataset? Create a Series `reviews_per_country` mapping countries to the count of reviews of wines from that country.

In [67]:
reviews_per_country = reviews['country'].value_counts()
reviews_per_country

country
US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Macedonia                    12
Czech Republic               12
Serbia                       12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Armenia                       2
Bosnia and Herzegovina        2
Slovakia                      1
China                         1
Egypt                         1
Name: count, dtype: int64

### Question 6d

Create variable `centered_price` containing a version of the `price` column with the mean price subtracted. (ลบแต่ละค่าด้วยค่าเฉลี่ย)

(Note: this 'centering' transformation is a common preprocessing step before applying various machine learning algorithms.)

Output should look something like this:
```
0               NaN
1        -20.363389
            ...    
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64
```

In [68]:
centered_price = reviews['price'] - reviews['price'].mean()
centered_price

0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

### Question 6e

Create a new Series `bargain_wine` containing the points-to-price ratio (points/price) in the dataset sorted from **highest to lowest**.

Expected answer:

<img src= 'https://drive.google.com/thumbnail?id=1GD9-Ci1ThC9xTmhbqekGocU7dT2pelaF&sz=w1000' height = 400></img>

In [69]:
bargain_wine = (reviews['points']/reviews['price']).sort_values(ascending = False)
bargain_wine

126096    21.50
64590     21.50
1987      21.25
20484     21.25
110255    21.00
          ...
129844      NaN
129860      NaN
129863      NaN
129893      NaN
129964      NaN
Length: 129971, dtype: float64

### **REVIEW:** `Groupby`

- You can `groupby` a specific column, e.g., `country`. This will give you `DataFrameGroupby` object.
- You then will need to aggregate each group using an aggregation function.

The code below show how to create a `DataFrame` by grouping `country` and calculate the mean of price within group.
1. First you grab only 'country' and 'price' columns.
2. Then you group y 'country'
3. Finally, you call `agg('mean')` or `.mean()`

In [70]:
mean_price_country = reviews[['country','price']].groupby('country').agg('mean') # or .mean()
mean_price_country

                            price
country
Argentina               24.510117
Armenia                 14.500000
Australia               35.437663
Austria                 30.762772
Bosnia and Herzegovina  12.500000
Brazil                  23.765957
Bulgaria                14.645390
Canada                  35.712598
Chile                   20.786458
China                   18.000000
Croatia                 25.450704
Cyprus                  16.272727
Czech Republic          24.250000
Egypt                         NaN
England                 51.681159
France                  41.139120
Georgia                 19.321429
Germany                 42.257547
Greece                  22.364425
Hungary                 40.648276
India                   13.333333
Israel                  31.768916
Italy                   39.663770
Lebanon                 30.685714
Luxembourg              23.333333
Macedonia               15.583333
Mexico                  26.785714
Moldova                 16.745763
Morocco                 19.500000
New Zealand             26.931785
Peru                    18.062500
Portugal                26.218256
Romania                 15.241667
Serbia                  24.500000
Slovakia                16.000000
Slovenia                24.812500
South Africa            24.668987
Spain                   28.215275
Switzerland             85.285714
Turkey                  24.633333
US                      36.573464
Ukraine                  9.214286
Uruguay                 26.403670

- You cannot apply `mean` to columns that are not numeric so if you want to apply mean to only numeric columns, you must specify `numeric_only = True`

In [71]:
mean_country = reviews.groupby('country').agg('mean', numeric_only=True) # or .mean()
mean_country

                           points      price
country
Argentina               86.710263  24.510117
Armenia                 87.500000  14.500000
Australia               88.580507  35.437663
Austria                 90.101345  30.762772
Bosnia and Herzegovina  86.500000  12.500000
Brazil                  84.673077  23.765957
Bulgaria                87.936170  14.645390
Canada                  89.369650  35.712598
Chile                   86.493515  20.786458
China                   89.000000  18.000000
Croatia                 87.219178  25.450704
Cyprus                  87.181818  16.272727
Czech Republic          87.250000  24.250000
Egypt                   84.000000        NaN
England                 91.581081  51.681159
France                  88.845109  41.139120
Georgia                 87.686047  19.321429
Germany                 89.851732  42.257547
Greece                  87.283262  22.364425
Hungary                 89.191781  40.648276
India                   90.222222  13.333333
Israel                  88.471287  31.768916
Italy                   88.562231  39.663770
Lebanon                 87.685714  30.685714
Luxembourg              88.666667  23.333333
Macedonia               86.833333  15.583333
Mexico                  85.257143  26.785714
Moldova                 87.203390  16.745763
Morocco                 88.571429  19.500000
New Zealand             88.303030  26.931785
Peru                    83.562500  18.062500
Portugal                88.250220  26.218256
Romania                 86.400000  15.241667
Serbia                  87.500000  24.500000
Slovakia                87.000000  16.000000
Slovenia                88.068966  24.812500
South Africa            88.056388  24.668987
Spain                   87.288337  28.215275
Switzerland             88.571429  85.285714
Turkey                  88.088889  24.633333
US                      88.563720  36.573464
Ukraine                 84.071429   9.214286
Uruguay                 86.752294  26.403670

### Question 7a

What are the minimum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min`.


Expected answer:

<img src= 'https://drive.google.com/thumbnail?id=1S_dZ0I1UpWUmORI8L2u_p5q7zmcMOXQd&sz=w1000' height = 400></img>

In [72]:
price_mins =  reviews.groupby('variety')['price'].min()
price_mins

variety
Abouriou       15.0
Agiorgitiko    10.0
Aglianico       6.0
Aidani         27.0
Airen           8.0
               ...
Zinfandel       5.0
Zlahtina       13.0
Zweigelt        9.0
Çalkarası      19.0
Žilavka        15.0
Name: price, Length: 707, dtype: float64

### Question 7b

Who are the most common wine reviewers in the dataset?

Use `.size()` or `.agg('size')` ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.size.html)) as an aggregation function to create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.



Expected answer:

<img src= 'https://drive.google.com/thumbnail?id=1BJtFjhfcTfmSHMErAB1DYN_LDJuW0lbF&sz=w1000' height = 400></img>

In [75]:
reviews_written = reviews.groupby('taster_twitter_handle').size()
#reviews_written = reviews.groupby('taster_twitter_handle').size().sort_values(ascending=False)
reviews_written

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
dtype: int64

# Submission
- Make sure to run every cell
- File -> Download -> Download .ipynb
- Upload to MS Teams